.add-btn{
    margin-top: 10px;
    float: right;
    margin-right: 10px;
    margin-bottom: 10px;
}

.mat-icon{
    margin-right:0 !important;
}

.action-link{
    color:#673AB7;
    cursor: pointer;
    text-align: right;
}

.action-btn{
    margin-right:5px;
}

.container{
    width: 70%;
}

.sample-component{
    display: flex;
    justify-content: center;
    align-items: center;
}

.test-title{
    text-align: center;
    font-size: 25px;
    color:#673AB7;
    margin-bottom: 15px;
    margin-top:15px;
}
